.qualification {
    background-color: var(--second-bg-color);
    text-align: center;
}

.qualification__container {
    max-width: 900px !important;
}

.qualification__timeline {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    transition: 1s;
}

.timeline__decor {
    margin: 20px;
}