.qualification {
    background-color: var(--second-bg-color);
    text-align: center;
}

.qualification__container {
    max-width: 800px !important;
}

.qualification__timeline {
    margin-top: 50px;
}