.portfolio__block {
    display: flex;
    margin: 40px 0;
    padding: 15px;
    border-radius: 20px;
    background-color: #a972721f;
    box-shadow: 0px 0px 5px var(--dark-shadow-color);
}

.portfolio__block__subblock {
    width: 50%;
}

.portfolio__block__image {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    height: 205px;
    border: 2px solid rgba(91, 78, 78, 0.269);
}

.project__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    height: 205px;
    transition: 0.4s;
    box-shadow: 1px 1px 3px var(--dark-shadow-color);
}

.site__access__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    transform: translate3d(-12px, -12px, 0);
    transition: 0.4s;
    opacity: 0;
}

.project__hover__effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 210%;
    opacity: 0;
    transform-origin: center;
    transform: rotate(90deg);
    transform: translate3d(55%, -90%, 0px) rotate(45deg);
}

.project__hover__effect__1 {
    background-color: rgba(153, 76, 76, 0.311);
    transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;

}

.project__hover__effect__2 {
    background-color: rgba(255, 240, 240, 0.325);
    transition: transform 300ms ease-in-out, opacity 400ms ease-in-out;

}

.portfolio__block__image:hover .project__hover__effect__1 {
    transform: translate3d(-80%, 40%, 0px) rotate(45deg);
    opacity: 1;
}

.portfolio__block__image:hover .project__hover__effect__2 {
    transform: translate3d(-20%, -30%, 0px) rotate(45deg);
    opacity: 1;
}

.portfolio__block__image:hover .site__access__icon {
    opacity: 1;
}

.portfolio__block__image>a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.portfolio__block__description {
    display: block;
    padding-inline: 30px;
    margin-block: auto;
    text-align: left;
}

.project {
    width: 100%;
}

.project__name {
    height: 38px;
}

.project__name>* {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.project__name>h5 {
    margin: unset;
}

.project__name>a {
    height: inherit;
    width: 35px;
    margin-left: 20px;
}

.project__name>a>img {
    margin-inline: auto;
    height: 25px;
    transition: 0.2s ease-in-out;
}

.project__name>a>img:hover {
    height: 27px;
}

.project__name>h5 {
    font-weight: 600;
}

.project__description {
    text-align: justify;
}

.project__description>* {
    line-height: 1.3em;
}

.project__button__wrapper {
    display: flex;
    justify-content: flex-end;
    padding-block: 5px;
}

.project__button {
    color: #a972721f;
}

@media screen and (max-width: 768px) {
    .portfolio__block__description {
        padding-inline: 10px;
    }
}

@media screen and (max-width: 640px) {
    .portfolio__block__description {
        padding-inline: 10px;
    }
    .portfolio__block__image {
        height: 220px;
    }
    .project__image {
        height: 220px;
    }
}
