.skills__block {
    display: flex;
}

.skills__subblock {
    justify-content: flex-start;
    margin-bottom: 20px;
}

.skills__title {
    display: flex;
    justify-content: space-between;
    transition: 0.4s;
    width: 40%;
}

.skills__category:hover .skills__title {
    transform: translateX(10px);
}

.skills__title > h5 {
    position: relative;
    overflow: hidden;
    font-weight: 600;
    text-align: left;
    margin-right: 10px;
}

.skills__title > h5::after  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--font-color);
    opacity: 1;
    transition: transform 300ms;
    transform: translateX(0px);
    transform: translate3d(-100%, 0, 0);
}

.skills__category:hover .skills__title > h5::after  {
    transform: translateX(10px);
    transform: translate3d(0, 0, 0);
}

.skills__right__arrow {
    padding-top: 5px;
    padding-right: 15px;
    width: 20px;
    height: 20px;
}

.skills__list {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.skill__each {
    display: flex;
    background-color: var(--contrast-bg-color);
    border-radius: 8px;
    color: var(--main-bg-color);
    align-items: center;
    margin: 3px;
    padding: 3px 20px;
    height: 30px;
    font-size: 16px;
    box-shadow: 0px 0px 0px rgb(149, 148, 148);
    transition: 0.3s;
}

.skill__each:hover {
    color: var(--inverse-font-color);
    box-shadow: 1px 1px 5px rgb(149, 148, 148);
}

@media screen and (max-width: 768px) {
    .skills__title {
        width: 35%;
    }
    
    .skills__list {
        width: 65%;
    }
}

@media screen and (max-width: 640px) {
    .skills__title {
        width: 45%;
    }
    
    .skills__list {
        width: 55%;
    }
}