.home__container {
    display: flex;
    align-items: center;
    padding-top: 70px;
}

.home__subcontainer {
    display: inline;
    width: 50%;
}

.home__intro__wrapper {
    padding-bottom: 40px;
}

.home__button__wrapper {
    display: flex;
    justify-content: flex-start;
}

.home__background {
    text-align: right; /* profile pic */
    padding-top: 100px;
    padding-left: 15px;
    transform: translate(-15px, -50px);
    background-image: linear-gradient(to right, #8f033d 70%, var(--main-bg-color) 30%);
    width: 100%;
}

.profile__pic {
    transform: translateY(45px);
    transition: transform 0.9s ease-in-out;
}

.home__background:hover .profile__pic {
    transform: scaleX(-1) translateY(-40px);
    transition: transform 0.2s ease-in-out;
}

