.contact {
    text-align: center;
    background-color: var(--high-contrast-bg-color);
    color: var(--inverse-font-color);
    padding-bottom: 20px !important;
}

.contact__title {
    color: var(--inverse-font-color);
}

.contact__body {
    width: 100%;
}

.contact__content {
    display: inline-block;
    padding-bottom: 20px;
}

.contact__button {
    width: 285px;
    vertical-align: middle;
}

.contact__notice {
    width: 30%;
    vertical-align: top;
}

.contact__comment {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    transition: color 1s ease-in-out;
}

.footer {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid rgb(121, 121, 121);
}

.footer__content>a {
    color: var(--inverse-font-color);
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .contact__notice {
        width: 20%;
        padding: 5px;
    }
}

@media screen and (max-width: 768px) {
    .contact__content {
        display: block;
        margin: 0 auto;
    }

    .contact__notice {
        width: 90%;
    }

    .footer {
        margin-bottom: 60px;
    }

    .contact__notice {
        transform: translateY(-170px);
        min-height: 122px;
    }

    .contact__info {
        transform: translateY(162px);
    }
}