.contact {
    text-align: center;
    background-color: var(--high-contrast-bg-color);
    color: var(--inverse-font-color);
    padding-bottom: 20px !important;
}

.contact__title {
    color: var(--inverse-font-color);
}

.contact__body {
    width: 100%;
    display: inline-flex;
}

.contact__content {
    width: 50%;
    padding: 10px;
}

.contact__content>* {
    margin-bottom: 20px;
}

.contact__comment {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    transition: color 1s ease-in-out;
}

.footer {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid rgb(121, 121, 121);

}

.footer__content>a {
    color: var(--inverse-font-color);
    text-decoration: underline;
}

@media screen and (max-width: 640px) {
    .contact__body {
        flex-wrap: wrap;
        justify-content: center;
    }
}