.header {
    padding: 15px 0px 8px 0;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: var(--main-bg-color);
    width: 100%;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__logo {
    font-size: 35px;
}

.nav__logo {
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.surname {
    color: rgb(82, 50, 11);
}

.nav__list {
    display: flex;
}

.nav__item {
    display: inline-block;
    margin-left: 15px;
}

.nav__link {
    color: var(--darker-font-color);
    font-size: 20px;
    display: block;
    transition: 0.4s ease-in-out;
}

.nav__link:hover {
    color: grey;
}

.scroll__header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
}

.nav__toggle {
    display: none;
    cursor: pointer;
}

.show-menu {
    bottom: 0;
}

.nav__close,
.nav__toggle {
    display: none;
    margin: 0 10px 10px 0;
}

.nav__icon__img {
    display: none;
    margin: 5px auto;
}

@media screen and (max-width: 768px) {
    .header {
        top: initial;
        bottom: 0;
    }

    .nav__toggle,
    .nav__close {
        display: block;
    }


    .nav__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        text-align: center;
    }

    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        background-color: var(--main-bg-color);
        padding: 1.5rem 1.3rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
    }

    .show-menu {
        bottom: 0;
    }

    .nav__close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: black;
    }

    .nav__icon__img {
        display: block;
    }


}

@media screen and (max-width:425px) {
    .nav__menu {
      padding: 2rem 0.25rem 4rem;
    }
  
    .nav__list {
      column-gap: 0;
    }
  }
  